
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.Link {
  p {
    opacity: 0;
    position: absolute;
    left: 40px;
    transition: all 300ms;
  }
  &:hover {
    p {
      opacity: 100;
      transition: all 300ms;
      left: 130px;
    }
  }
}